@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header .samlogo {
  max-width: 95px;
  position: relative;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .txtBox {
  position: relative;
  max-width: 600px;
}

.content .txtBox h2 {
  color: rgb(30, 30, 30);
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .txtBox h2 span {
  color: #12279e;
  font-size: 1.12em;
  font-weight: 900;
}
