@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header .samlogo {
  max-width: 95px;
  position: relative;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .txtBox {
  position: relative;
  max-width: 600px;
}

.content .txtBox h2 {
  color: rgb(30, 30, 30);
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .txtBox h2 span {
  color: #12279e;
  font-size: 1.12em;
  font-weight: 900;
}

.content .txtBox p {
  color: rgb(30, 30, 30);
}

.content .txtBox a {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: black;
  color: white;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content .txtBox a:hover {
  background: #12279e;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  /* padding-right: 40px; */
  margin-top: 50px;
}

.content .imgBox img {
  max-width: 500px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 125px;
}
